@import 'css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand|Montserrat');
/* Scroll
 ========================================== */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
/* General
 ========================================== */
html,
body {
  height: 100%;
}
body {
  font: 12pt/1.8 'Quicksand', monospace;
  direction: ltr;
  background: #fff url('img/bg.png');
}
h1,
h2,
h3,
h4 {
  margin: 0 0 20px 0;
  line-height: 1;
}
a,
a:hover {
  text-decoration: none;
}
/* Header
 ========================================== */
.wrapper {
  margin: 0 auto;
  background-color: #fff;
}
header {
  background-color: #fff;
}
header .s-brand {
  margin-left: 15px;
  background: transparent url('img/logo.png') center left no-repeat;
  padding-left: 70px;
}
header .s-brand a {
  display: block;
  color: #333;
}
header .s-brand h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 18pt;
  font-weight: bold;
  color: green;
}
@media (max-width: 640px) {
  header .s-brand {
    background-size: 50%;
    height: 55px;
  }
}
header .s-login {
  font-size: 10pt;
  line-height: 100px;
  color: #666;
}
header .s-login span {
  margin-right: 10px;
}
@media (max-width: 640px) {
  header .s-login {
    line-height: 55px;
  }
  header .s-login a {
    text-align: center;
  }
}
header .s-call {
  background-color: #469951;
  line-height: 50px;
  font-size: 9pt;
}
header .s-call a {
  color: #fff;
  border-left: solid 1px rgba(255, 255, 255, 0.15);
  padding: 0 10px;
  display: inline-block;
}
header .s-call a:last-child {
  border-right: solid 1px rgba(255, 255, 255, 0.15);
}
header .s-call .s-lang {
  margin-top: 6px;
  margin-left: 0;
}
header .s-call .s-lang select {
  font-size: 10pt;
  padding: 10px;
}
footer {
  background: #333;
  color: #ccc;
  position: relative;
  padding: 20px;
  font-size: 10pt;
}
.s-top {
  padding: 20px;
  background: #fc0;
  width: 40px;
  line-height: 40px;
  top: -40px;
  border-radius: 50px;
  color: #fff;
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
}
.s-top:hover {
  background: #000;
  color: #fff;
}
/* Navigtaion
 ========================================== */
.s-nav {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif, sans-serif;
  box-shadow: 0 10px 20px #ddd;
  border-top: solid 1px #f1f1f1;
  line-height: 30px;
}
.s-nav a {
  color: #666;
  font-size: 10pt;
}
.s-nav .s-navbar {
  padding: 0;
  margin: 0;
}
.s-nav .s-navbar li {
  list-style: none;
  display: inline-block;
  padding: 15px 0;
}
.s-nav .s-navbar li > a {
  padding: 0 10px 0 0;
  margin: 0;
  color: #666;
  transition: all 0.1s ease;
}
.s-nav .s-navbar li > a.active,
.s-nav .s-navbar li > a:hover,
.s-nav .s-navbar li > a:active {
  color: #fc0;
}
.s-blur {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
}
.s-slider {
  position: relative;
  height: 247px;
  overflow: hidden;
  z-index: 0;
}
.s-slider img {
  width: 100%;
  animation: kenburns 75s infinite;
}
.s-slider .uk-slidenav-position {
  padding: 0 50px;
}
.s-slider-title {
  position: absolute;
  top: 100px;
  left: 50px;
  line-height: 50px;
}
.s-slider-title h1 {
  font-weight: 400;
  color: #666;
}
@keyframes kenburns {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
    opacity: 0;
  }
}
.s-feature {
  z-index: 999;
  background: #fff;
  position: relative;
  width: 100%;
  vertical-align: bottom;
  margin-bottom: 35px;
}
.s-feature a {
  margin-top: -35px;
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
}
.s-feature .s-book-title {
  display: block;
  color: #333;
  font-size: 10pt;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  margin: 10px 0 0;
  height: 35px;
  border-left: solid 1px #bbb;
}
.s-feature .s-book-title > div {
  font-size: 7pt;
  line-height: 14px;
}
.s-feature .s-book-cover {
  width: 75px;
  height: 100px;
  overflow: hidden;
  display: block;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px #333;
}
.s-feature .s-book-cover:before {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  bottom: 1px;
  z-index: 1;
  background: rgba(100, 100, 100, 0.1);
}
.s-feature img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.s-search {
  margin-top: 12px;
  display: block;
  text-align: right;
}
.s-search a {
  color: #fff !important;
  padding: 10px 8px;
}
.s-search a,
.s-search input.form-control {
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  font-size: 10pt;
  padding: 10px 8px;
}
.s-search button {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 8px;
  font-size: 10pt;
}
#advance-search {
  width: 600px;
}
#advance-search table td {
  padding: 5px;
}
#advance-search table td:first-child,
#advance-search table td:nth-child(4) {
  font-size: 10pt;
  font-weight: bold;
  white-space: nowrap;
}
#advance-search input,
#advance-search select {
  width: 100%;
  border: solid 1px #ddd;
  border-radius: 3px;
  padding: 4px 8px;
}
#advance-search button {
  padding: 10px 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  border: solid 1px #666;
  background: #666;
  color: #fff;
  border-radius: 5px;
}
.s-intro {
  background: #FF5A00;
  padding: 50px 0;
  color: #fff;
}
.s-intro div.col-md-4:first-child {
  border-right: solid 1px #fff;
}
.s-content .s-page,
.s-content .s-sidebar {
  padding: 50px 0;
  position: relative;
}
.s-content .s-page .card,
.s-content .s-sidebar .card {
  margin-top: 20px;
}
.s-cover {
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  margin-top: 0;
  transition: all 0.25s ease;
  cursor: pointer;
}
.s-cover-detail:before,
.s-cover:before {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  content: '';
  width: 10px;
  height: 100%;
  position: absolute;
  bottom: 1px;
  z-index: 1;
  background: rgba(100, 100, 100, 0.1);
}
.s-cover:hover {
  margin-top: -5px;
}
.s-cover-detail {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 150px;
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
}
/* Biblio Detail
 ================================ */
.s-page-detail {
  padding: 50px 15px !important;
}
.s-detail {
  padding: 0;
  width: 100%;
}
.s-detail .cover {
  height: 249px;
  max-width: 185px;
  margin: 0 auto;
  border-radius: 4px;
  background: #fff url(img/book.png) top left no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 2px 7.68px 0.32px rgba(0, 0, 0, 0.1), 0 12px 26px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 7.68px 0.32px rgba(0, 0, 0, 0.1), 0 12px 26px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.s-detail .cover:before {
  content: '';
  background: transparent url(img/book-side.png) top center no-repeat;
  width: 10px;
  height: 100%;
  position: absolute;
  z-index: 2002;
}
@media only screen and (min-width: 768px) {
  .s-detail .cover {
    float: right;
    overflow: hidden;
    margin: 21px 0 0 50px;
  }
}
.s-detail .s-detail-type {
  padding: 20px 0 0 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 12pt;
}
@media only screen and (min-width: 768px) {
  .s-detail .s-detail-type {
    padding: 0;
    margin: 0;
    width: auto;
    text-align: left;
  }
}
.s-detail .share-buttons {
  float: right;
  padding-top: 0;
}
.s-detail h3 {
  font-weight: 200;
  font-size: 12pt;
}
.s-detail .s-detail-abstract {
  width: 100%;
  font-style: italic;
  line-height: 1.6em;
}
.s-detail .s-detail-abstract p {
  display: block;
  text-align: justify !important;
}
.s-detail .s-detail-abstract:empty {
  display: none;
}
.s-detail .cover img {
  background-size: 100%;
  height: 250px;
}
.s-detail .s-detail-title {
  margin-top: 10px;
  line-height: 1.4;
  font-weight: 300;
}
.s-detail .form-horizontal {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.s-detail .form-horizontal .control-group {
  margin: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
}
.s-detail .form-horizontal .control-label {
  width: 100%;
  display: inline-block;
}
.s-detail-author {
  display: inline;
}
.s-detail-author a:first-child:before {
  content: '';
}
.s-detail-author a:before {
  content: ' | ';
}
.s-detail-author br {
  display: none;
}
.s-detail-author .labels {
  width: 48px;
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1099;
}
.s-tab {
  margin-top: 20px;
  font-size: 10pt;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
#comment {
  width: 100%;
  padding: 10px;
  font-size: 12pt;
  border-radius: 3px;
}
#cboxTitle {
  font-size: 12pt;
}
.itemList {
  width: 100%;
}
.itemList td {
  font-size: 10pt;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0;
}
.itemList .status-available {
  color: green;
}
.itemList .status-on-loan {
  color: #B60012;
}
.biblioRecord {
  margin: 75px 30px 75px 0;
  z-index: 0;
  position: relative;
}
.biblioRecord .detail-list {
  position: relative;
}
.biblioRecord .detail-list h4 {
  margin: 0;
}
.biblioRecord .detail-list h4 a {
  color: #666;
  font-weight: 300;
  font-size: 10pt;
  line-height: 1.4em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.biblioRecord .detail-list h4 a:hover {
  color: #000;
  text-decoration: underline;
}
.biblioRecord .detail-list .author {
  margin-top: 10px;
  font-style: italic;
}
.biblioRecord .detail-list .subItem {
  position: relative;
  margin-top: 20px;
}
.biblioRecord .detail-list .subItem a {
  font-size: 8pt;
  margin-right: 5px;
}
.biblioRecord .detail-list .subItem input,
.biblioRecord .detail-list .subItem label {
  position: absolute;
}
.biblioRecord .detail-list .subItem input {
  z-index: 2;
  left: 75px;
  top: 11px;
}
.biblioRecord .detail-list .subItem label {
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100px;
  padding: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.biblioRecord .cover-list {
  border-radius: 4px;
  background: #fff url(img/book.png) top left no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 2px 7.68px 0.32px rgba(0, 0, 0, 0.1), 0 12px 26px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 7.68px 0.32px rgba(0, 0, 0, 0.1), 0 12px 26px 0 rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0 20px 0 0;
  position: relative;
  width: 120px;
  height: 165px;
  overflow: hidden;
}
.biblioRecord .cover-list .img-thumbnail {
  padding: 0;
  border-radius: 0;
  height: 166px;
  width: 121px;
  border: none;
  z-index: 1;
}
.biblioRecord .cover-list:before {
  content: '';
  background: transparent url(img/book-side.png) top center no-repeat;
  width: 10px;
  height: 100%;
  position: absolute;
  z-index: 2002;
  left: -2px;
}
.share-buttons {
  display: none;
}
.biblioMarkForm {
  position: relative;
  width: 100%;
}
.biblioMarkForm .biblioMarkFormAction {
  position: absolute;
  right: 0;
  top: -30px;
}
.biblioMarkForm .biblioMarkFormAction input {
  border: solid 1px #f1f1f1;
  background: #000;
  color: #fff;
}
/* Download
 ================================ */
.attachList {
  position: relative;
  padding: 0;
}
.attachment-pdf,
.attachment-audio-video,
.attachment-audio-audio,
.attachment-url-list,
.attachment-image {
  position: relative;
  list-style: none;
  list-style-image: none !important;
  margin: -1px 0 0 0;
  border: solid 1px #f2f2f2;
  padding: 15px 28px;
  font-size: 14px;
  line-height: 18pt;
  vertical-align: middle;
}
.attachment-pdf:before,
.attachment-audio-video:before,
.attachment-audio-audio:before,
.attachment-url-list:before,
.attachment-image:before {
  position: absolute;
  right: 10px;
  top: 30%;
  font-family: 'FontAwesome';
  display: block;
  color: #20b390;
  font-size: 28px;
}
.attachment-pdf:before {
  content: "\f1c1";
}
.attachment-image:before {
  content: "\f1c5";
}
.attachment-audio-audio:before {
  content: "\f1c7";
}
.attachment-audio-video:before {
  content: "\f1c8";
}
.attachment-url-list:before {
  content: "\f1c9";
}
.librarian {
  border: solid 1px #e0e0e0;
  width: 33%;
  position: relative;
  margin: 0 0 20px 0;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  line-height: 1.4;
  text-align: center;
  transition: all .25s ease;
  overflow: hidden;
}
.librarian:hover {
  box-shadow: 0 0 10px #ddd;
  border-color: #5BC0DE;
}
.librarian img {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}
.librarian .librarian-image {
  border: solid 4px #fff;
  background-color: #ddd;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 20px;
}
.librarian .librarian-social {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 8pt;
}
.librarian .librarian-social li {
  line-height: 2;
  font-style: italic;
}
.librarian .key {
  color: #666;
  font-size: 10pt;
  padding-top: 15px;
}
/* Comments
 ================================ */
.comments {
  padding-top: 10px;
  padding-bottom: 14px;
}
.comment-found {
  font-size: 10px;
}
.comment-member {
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 300px;
}
.comment-content {
  background: #f2f2f2;
  padding: 15px;
}
.comment-form textarea {
  width: 100%;
  padding: 15px;
  border-color: #f2f2f2;
}
.comment-form .button {
  border: none;
  background: #282828;
  color: #fff;
  font-size: 8px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 5px 15px;
  width: 100%;
}
.value input,
.login_input input {
  border: solid 1px #ddd;
  padding: 6px 8px;
  font-size: 10pt;
  border-radius: 3px;
  width: 50%;
}
.fieldLabel {
  font-family: 'Montserrat', sans-serif, sans-serif;
  line-height: 2;
}
.loginInfo {
  padding-bottom: 10px;
}
.memberDetail {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  border: none;
  border-radius: 5px;
}
.memberDetail td.alterCell,
.memberDetail td.alterCell2 {
  padding: 3px 0;
  border-bottom: dotted 1px #e0e0e0;
  background: none;
}
.memberLoanList,
#memberLoginInfo {
  text-align: left;
  border: none;
  background-color: transparent;
  margin: 0 0 20px 0;
}
.memberLoanList td,
#memberLoginInfo td {
  text-align: left;
  padding: 0;
  background-color: transparent !important;
}
.memberLoanListInfo,
.memberDetailInfo,
.memberBasketInfo {
  padding: 0;
}
#memberLogout,
.btn-default,
.s-xml-detail,
.s-article .openPopUp,
.xmlResultLink,
.jsonResultLink {
  font-size: 10pt;
  transition: all 0.25s ease;
  color: #333;
  display: inline;
  padding: 0;
  margin-right: 20px;
  color: #666;
}
.s-page h3,
.tagline {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
#memberLogout,
#loginButton,
.memberButton {
  cursor: pointer;
  border: none;
  background: #5BC0DE;
  color: #fff;
  padding: 6px 8px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  margin-top: 10px;
}
/*Cluster*/
.cluster-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cluster-title {
  font-weight: bold;
  font-size: 12pt;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: solid 1px #f2f2f2;
  padding-bottom: 20px;
}
.cluster-list .cluster-item a {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 9pt;
  letter-spacing: normal;
  text-transform: none;
  border-bottom: solid 1px #f2f2f2;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.cluster-list .cluster-item a:hover {
  color: blue;
  background-color: #f2f2f2;
  padding-left: 10px;
}
.cluster-item-count {
  position: absolute;
  right: 0;
  background-color: #282828;
  color: #fff;
  min-width: 30px;
  text-align: center;
  padding: 2px 5px !important;
  line-height: normal;
  margin-top: 5px;
}
/* Table
 ================================ */
.s-table {
  border-width: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
  padding: 5px 10px;
  line-height: 2;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
}
.s-table tr {
  border-bottom: 1px dotted #f2f2f2;
}
.s-table td,
.s-table th {
  vertical-align: top;
  padding-top: 8px;
  border-width: 0;
  padding-bottom: 0;
}
.s-table td {
  border-collapse: collapse;
  margin: 1.5em 0;
  padding: 5px 10px;
}
.s-table th {
  font-size: 10pt;
  text-align: right;
  vertical-align: top;
  color: #000;
  padding: 7px 0;
  width: 150px;
}
.s-subject a {
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
.biblioPaging {
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  width: 100%;
}
.biblioPaging a {
  padding: 10px 5px;
  color: #999;
}
.biblioPaging a:hover {
  color: #000;
}
@media (max-width: 960px) {
  .biblioPaging {
    padding: 10px 15px;
  }
}
.biblioPaging b {
  color: #000;
  padding: 10px 15px;
}
.biblioPaging .first_link,
.biblioPaging .last_link {
  cursor: pointer;
}
.biblioPaging .first_link > input:hover,
.biblioPaging .last_link > input:hover,
.biblioPaging .first_link .first_link:hover,
.biblioPaging .last_link .first_link:hover,
.biblioPaging .first_link .last_link:hover,
.biblioPaging .last_link .last_link:hover {
  color: #000;
}
/* Login
 ========================================== */
.s-login {
  background: transparent url(img/bg.png);
  min-height: 100%;
}
.s-login .heading1 {
  color: #666;
  line-height: 3;
  font-size: 11pt;
}
.s-login #recaptcha_response_field,
.s-login input[type=text],
.s-login input[type=password] {
  border-radius: 5px;
  font-size: 12pt;
  padding: 5px;
  border: solid 1px #ddd !important;
  transition: all .25s ease;
}
.s-login #recaptcha_response_field:focus,
.s-login input[type=text]:focus,
.s-login input[type=password]:focus {
  border: solid 2px #bbb;
  outline: none;
}
.s-login input[type=text]:before {
  content: '\c00';
  font-family: 'Fontawesome';
}
.s-login :after {
  content: '';
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #eee;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
#loginForm {
  padding: 50px 0 0 0;
  position: relative;
  top: 100px;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  border-bottom: solid 10px #333;
}
#loginForm .loginButton,
#loginForm .homeButton {
  position: absolute;
  bottom: 0;
  width: 50%;
  border: none;
  background: #fff;
  padding: 20px 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background .25s ease;
  border-top: solid 1px #ddd;
}
#loginForm .loginButton:hover,
#loginForm .homeButton:hover {
  color: #fff;
  background: #333;
}
#loginForm .loginButton {
  left: 0;
}
#loginForm .homeButton {
  border-left: solid 1px #ddd;
  right: 0;
}
#loginForm:after {
  content: '';
  background: #000 url('img/footer.jpg') left top fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: kenburns 20s infinite;
}
#recaptcha_response_field {
  width: 200px !important;
}
@keyframes kenburns {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
    opacity: 0;
  }
}
.s-counter {
  background: #eee;
  overflow: hidden;
}
.s-counter header {
  background: transparent;
}
.s-visitor {
  margin-top: 100px;
}
.s-visitor-info,
.s-visitor-form {
  box-shadow: 0 0 10px #ddd;
  height: 400px;
  padding: 30px;
  margin-left: -1px;
  background: #fff;
}
.s-visitor-info {
  padding-top: 100px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #101885;
  color: #fff;
}
.s-visitor-info:after {
  z-index: 0;
  content: '';
  width: 200%;
  height: 100%;
  background: #ff0 url(img/slider.jpg) center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.15;
}
.s-visitor-info .info {
  margin-top: 50px;
}
.s-visitor-photo {
  background-color: #C9C9C9;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}
.s-visitor label {
  color: #5BC0DE;
}
.s-visitor-form {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.s-visitor-form #visitorCounterForm {
  position: relative;
  top: 100px;
}
.s-visitor-form input[type=text] {
  padding: 10px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ddd;
  border-radius: 0;
}
.s-visitor-form button {
  width: 100px;
  border: solid 2px #5BC0DE;
  background-color: transparent;
  padding: 6px 0;
  border-radius: 50px;
}
.share-buttons {
  position: relative;
  top: -10px;
  list-style: none;
  margin: 0;
  width: 200px;
}
.s-detail .share-buttons {
  position: relative;
  top: 10px;
  padding: 0;
}
@media (max-width: 360px) {
  .share-buttons {
    width: 185px;
    margin: 0 auto;
  }
}
.share-buttons li {
  float: left;
  padding-right: 4px;
}
.share-buttons li img {
  border-radius: 10px;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.25s ease-in-out;
  opacity: 0.3;
}
.share-buttons li img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.share-buttons li:first-child {
  display: none;
}
/* Colorbox for PDF Preview
 ================================ */
#cboxOverlay {
  background: #282828;
  opacity: 0.7;
}
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight,
#cboxMiddleLeft,
#cboxMiddleRight {
  display: none;
}
#cboxTitle {
  bottom: 0px;
  position: absolute;
  padding: 20px 10px;
  background-color: #282828;
  color: #fff;
  overflow: hidden;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 10px;
  white-space: nowrap;
}
#cboxClose {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: none;
  width: 25px;
  height: 25px;
  text-indent: 0px;
}
#cboxClose:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  font-size: 20px;
  padding-right: 20px;
  padding-left: 8px;
  color: #fff;
}
#cboxClose:hover {
  background-position: 0;
}
/* Higlight search result
 ================================ */
.highlight {
  background: #930;
  color: #fff;
}
/* Alert
 ================================ */
.s-alert {
  background-color: #f2f2f2;
  color: red;
  padding: 10px;
  text-align: center;
}
/* Error
 ================================ */
.errorBox {
  border: none;
  background-color: #900;
  padding: 10px;
  color: #fff;
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  display: inline-block;
}
/* For support browser
 ================================ */
.chromeframe {
  position: fixed !important;
  z-index: 9099;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
}
#cboxContent {
  min-height: 375px;
}
/* Chat
 ================================ */
.s-pchat {
  position: relative;
  left: -25px;
  z-index: 999;
}
@media only screen and (min-width: 768px) {
  .s-pchat {
    position: absolute;
    left: auto;
    right: 55px;
    margin: 0;
    top: -10px;
  }
}
.s-pchat a {
  display: block;
  color: #fff;
  background-color: #F0AD4E;
  border-radius: 50px;
  padding: 15px;
  width: 20px;
  height: 20px;
  margin: 20px auto 0 auto;
}
.s-pchat-toggle {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  text-align: center;
  width: 70px;
  display: block;
  background: #5BC0DE;
  font-size: 10pt;
  color: #fff !important;
}
@media only screen and (min-width: 768px) {
  #show-pchat {
    right: 0px;
  }
}
.s-chat {
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: -275px;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
  text-align: left;
  width: 275px;
  background: #fff;
  padding: 0;
  box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
}
@media only screen and (min-width: 768px) {
  .s-chat {
    bottom: 60px;
  }
}
.s-chat-header {
  text-align: center;
  display: block;
  background-color: #282828;
  width: 275px;
  padding: 21px 0;
  position: relative;
  font-size: 7pt;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.s-chat-content {
  padding: 18px 20px;
  position: relative;
}
.s-chat-content label {
  padding: 10px 0;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.s-chat-content #log {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
  padding: 10px;
  width: 100%;
  border: solid 1px #f8f8f8;
  font-size: 12px;
}
.s-chat-content #log p {
  line-height: 1;
  padding-bottom: 5px;
  margin: 0;
}
/* Chat theme */
.c1,
.c6,
.c11,
.c16 {
  color: #3E966E !important;
}
.c2,
.c7,
.c12,
.c17 {
  color: #F36C32 !important;
}
.c3,
.c8,
.c13,
.c18 {
  color: #2A7BCC !important;
}
.c4,
.c9,
.c14,
.c19 {
  color: #7C378A !important;
}
.c5,
.c10,
.c15,
.c20 {
  color: #333333 !important;
}
.s-chat-content textarea,
#message {
  width: 100%;
  border: solid 1px #ddd;
  padding: 5px 0;
}
.s-chat-content #log,
.s-chat-content textarea {
  min-height: 200px;
  line-height: 24px;
}
.s-chat footer {
  border-top: solid 1px #f8f8f8;
  font-size: 10px;
  padding: 8pt !important;
  background: #666;
  margin-top: 0;
}
.s-chat footer p {
  font-size: 8pt;
}
.s-maximize {
  right: 0;
  bottom: 0;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}
@media only screen and (min-width: 768px) {
  .s-maximize {
    bottom: 60px;
  }
}
.s-chat .btn {
  border-radius: 0;
  margin-top: 5px;
}
.s-chat hr {
  display: none;
  visibility: hidden;
}
/* Header
 ========================================== */
.s-main-page {
  background: #f1f1f1;
  color: #666;
}
/* Simply Search
 ========================================== */
.s-search-simple a:hover {
  color: #fc0;
}
.s-search-simple > a.is-active {
  color: #fff;
}
