.biblioRecord {
    margin: 75px 30px 75px 0;
    z-index: 0;
    position: relative;
    
    & .detail-list {
        position: relative;         
        
        & h4 {
            margin: 0;

            & a {
                text-overflow: ellipsis;
                color: @color-text;
                font-weight: 300;
                font-size: 10pt;
                line-height: 1.4em;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                
                &:hover {
                    color: @color-black;
                    text-decoration: underline;
                }
            }
        }
        
        & .author {
            margin-top: 10px;
            font-style: italic;
        }

        & .subItem {
            position: relative;
            margin-top: 20px;            

            & a {
                font-size: 8pt;
                margin-right: 5px;
            }
    
            & input,
            & label {
                position: absolute;
            }

            & input {
                z-index: 2;
                left: 75px;
                top: 11px;
            }
            
            & label {
                top: 0;
                left: 0;
                background: #000;
                color: #fff;
                width: 100px;
                padding: 5px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }

    & .cover-list {
        border-radius: 4px;
        background: #fff url(img/book.png) top left no-repeat;
        background-size: cover;
        -webkit-box-shadow: 0 2px 7.68px .32px rgba(0, 0, 0, 0.1), 0 12px 26px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 7.68px .32px rgba(0, 0, 0, 0.1), 0 12px 26px 0 rgba(0, 0, 0, 0.1);
        float: left;
        margin: 0 20px 0 0;
        position: relative;
        width: 120px;
        height: 165px;
        overflow: hidden;


        & .img-thumbnail {
            padding: 0;
            border-radius: 0;
            height: 166px;
            width: 121px;
            border: none;
            z-index: 1;
        }

        &:before {
            content: '';
            background: transparent url(img/book-side.png) top center no-repeat;
            width: 10px;
            height: 100%;
            position: absolute;
            z-index: 2002;
            left: -2px;

        }
    }
}

.share-buttons {
    display: none;
}

.biblioMarkForm { 
    position: relative;
    width: 100%;

    & .biblioMarkFormAction {
        position: absolute;
        right: 0;
        top: -30px;
        
        & input {
            border: solid 1px #f1f1f1;
            background: #000;
            color: #fff;
        }
    }

    
}