/* Chat
 ================================ */
.s-pchat {
  position: relative;
  left: -25px;
  z-index: 999;

    @media only screen and (min-width: 768px) {
      & {
        position: absolute;
        left:auto;
        right:55px;
        margin:0;
        top:-10px;
      }
    }

    & a {
      display: block;
      color: @color-white;
      background-color: @color-yellow;
      border-radius: 50px;
      padding: 15px;
      width: 20px;
      height: 20px;
      margin: 20px auto 0 auto;
    }

}




.s-pchat-toggle {
  cursor: pointer;
  position: fixed; 
  right: 0; 
  bottom: 0;
  padding: 20px 0;
  text-align: center;
  width: 70px;
  display: block; 
  background: @color-blue; 
  font-size: 10pt;
  color: @color-white !important;
}

@media only screen and (min-width : 768px) {
  #show-pchat {
    right: 0px;  
  }
}

.s-chat {
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: -275px;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
  text-align: left;
  width:275px;
  background: #fff;
  padding: 0;
  box-shadow: 0 0 2px rgba(100,100,100,0.5);
}

@media only screen and (min-width : 768px) {
  .s-chat {
    bottom: 60px;  
  }
}

.s-chat-header {
  text-align: center;
  display: block;
  background-color: #282828;
  width:275px;
  padding: 21px 0;
  position: relative;
  font-size: 7pt;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.s-chat-content {
  padding: 18px 20px;
  position: relative;
}

.s-chat-content label {
  padding:10px 0;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.s-chat-content #log {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
  padding:10px;
  width: 100%;
  border: solid 1px #f8f8f8;
  font-size: 12px;
}

.s-chat-content #log p {
  line-height: 1;
  padding-bottom:5px;
  margin: 0;
}

/* Chat theme */
.c1,  .c6, .c11, .c16 { color: #3E966E !important; }
.c2,  .c7, .c12, .c17 { color: #F36C32 !important; }
.c3,  .c8, .c13, .c18 { color: #2A7BCC !important; }
.c4,  .c9, .c14, .c19 { color: #7C378A !important; }
.c5, .c10, .c15, .c20 { color: #333333 !important; }


.s-chat-content textarea,
#message {
  width: 100%;
  border: solid 1px #ddd;
  padding: 5px 0;
}

.s-chat-content #log,
.s-chat-content textarea {
  min-height: 200px;
  line-height: 24px;
}

.s-chat footer {
  border-top: solid 1px #f8f8f8;
  font-size: 10px;
  padding: 8pt !important;
  background: @color-text;
  margin-top: 0;
  
  & p {
      font-size: 8pt;
  }
}

.s-maximize {
  right: 0;
  bottom: 0;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

@media only screen and (min-width : 768px) {
  .s-maximize {
    bottom: 60px;
  }
}

.s-chat .btn {
  border-radius: 0;
  margin-top: 5px;
} 

.s-chat hr {
    display: none;
    visibility: hidden;
}