.s-intro {
    background: #FF5A00;
    padding: 50px 0;
    color: @color-white;
    
    & div.col-md-4:first-child {
        border-right: solid 1px #fff;
    }
}

.s-content {
    & .s-page,
    & .s-sidebar {
        padding: 50px 0;           
        position: relative; 
        
        & .card {
            margin-top: 20px;
        }
    }
    
}