.s-cover {
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    margin-top: 0;
    transition: all 0.25s ease;
    cursor: pointer;

    &-detail:before,
    &:before {
        box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        content: '';
        width: 10px;
        height: 100%;
        position: absolute;
        bottom:1px;
        z-index: 1;
        background: rgba(100,100,100,0.1);
    }

    &:hover {
        margin-top: -5px;
    }

    &-detail {
        box-shadow: 0 0 20px rgba(0,0,0,0.25);
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        width: 150px;
        margin: 0;
        padding: 0;
        backface-visibility: hidden;        
    }

}

