/* Biblio Detail
 ================================ */
.s-page-detail {
    padding: 50px 15px !important;    
}
 
 .s-detail {
    padding: 0;    
    width: 100%;
 
    & .cover {
        height: 249px;
        max-width:185px;
        margin:0 auto;
        border-radius: 4px;
        background: #fff url(img/book.png) top left no-repeat;
        background-size: cover;
        -webkit-box-shadow: 0 2px 7.68px .32px rgba(0, 0, 0, 0.1), 0 12px 26px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 7.68px .32px rgba(0, 0, 0, 0.1), 0 12px 26px 0 rgba(0, 0, 0, 0.1);
        position: relative;

        &:before {
            content: '';
            background: transparent url(img/book-side.png) top center no-repeat;
            width: 10px;
            height: 100%;
            position: absolute;
            z-index: 2002;            
        }

        @media only screen and (min-width : 768px) {
            & {
                float: right;
                overflow: hidden;
                margin: 21px 0 0 50px;
            }
        }
    }

    & &-type {
        padding: 20px 0 0 0;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-size: 12pt;

        @media only screen and (min-width : 768px) {
            & {
                padding: 0;
                margin: 0;
                width: auto;
                text-align: left;    
            }
        }
    }
    
                
    & .share-buttons {
        float: right;
        padding-top: 0;
    }

    & h3 {
        font-weight: 200;
        font-size: 12pt;
    }

    & &-abstract {
        width: 100%;
        font-style: italic;
        line-height: 1.6em;

        p {
            display: block;
            text-align: justify !important;
        }

        &:empty {
            display: none;
        }
    }

    & .cover {
        & img {
            background-size: 100%;
            height: 250px;
        } 
    }

    & &-title {
        margin-top: 10px;
        line-height: 1.4;
        font-weight: 300;
    }

    & .form-horizontal {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    & .form-horizontal {
        & .control-group {
            margin: 0;
            -webkit-column-break-inside: avoid;        
            page-break-inside: avoid;        
            break-inside: avoid-column;
            display: table;
        }

        & .control-label {
          width: 100%;
          display: inline-block;
        }
    }
    
    &-author {
        display: inline;

        & a:first-child:before {
            content: '';
        }

        & a:before {
            content: ' | ';
        }

        & br {
            display: none;
        }

        & .labels {
            width: 48px;
            display: inline-block;
            position: absolute;
            top: -5px;
            right: -5px;  
            z-index: 1099;
        }
    }
}

.s-tab {
    margin-top: 20px;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

}

#comment {
    width: 100%;
    padding: 10px;
    font-size: 12pt;
    border-radius: 3px;
}

#cboxTitle {
    font-size: 12pt;
}

.itemList {
    width: 100%;
    
    & td {
        font-size: 10pt;
        font-family: @font-header;
        padding: 10px 0;
    }
    
    & .status-available {
        color: green;
    }
    
    & .status-on-loan {
        color: #B60012;
    }
}