footer {
    background: #333;
    color: #ccc;
    position: relative;
    padding: 20px;
    font-size: 10pt;

}

.s-top {
    padding: 20px;
    background: #fc0;
    width: 40px;
    line-height: 40px;
    top: -40px;
    border-radius: 50px;
    color: #fff;
    font-size: 11pt;
    font-family: @font-header;
    
    &:hover {
        background: #000;
        color: #fff;
    }

}

