.loginInfo {
    & input {
        border: solid 1px #ccc;
        padding: 10px;
        min-width: 200px;
        border-radius: 5px;
    }
}

.s-content h3,
.tagline {
    font: 18pt/1.2 'Montserrat', sans-serif;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.fieldLabel,
.loginInfo {
    padding-top: 10px;   
}

.fieldLabel {
    line-height: 2;
}

.login_input {
    padding-bottom: 10px;
}