/* Scroll
 ========================================== */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}


/* General
 ========================================== */
html, body{
  height:100%;
}

body {
    font: @font-size/@font-linespace @font-general;
    direction: @layout-direction;
    background: #fff url(@bg);
}

h1,h2,h3,h4 {
    margin: 0 0 20px 0;
    line-height: 1;
}

a, a:hover {
  text-decoration: none;
}

