/* Header
 ========================================== */
.wrapper {
    margin: 0 auto;
    background-color: #fff;
}

header {
    background-color: @color-white;

    & .s-brand {
        background: transparent url(@header-logo) center center no-repeat;
        & a {
            height: 100px;
            display: block;
        }
        
        & span {
            display: none;
            visibility: hidden;
        }

        @media (max-width: 640px) {
            & {
                background-size: 50%;
                height: 55px;
            }
        }
    }
    
    & .s-login {
        font-size: 10pt;
        line-height: 100px;
        color: @color-text;
        & span {
            margin-right: 10px;
        }

        @media (max-width: 640px) {
            & {
                line-height: 55px;
                
                a {
                    text-align: center;
                }
            }
        }
    }

    & .s-call {
        background-color: #0A0F51;
        line-height: 50px;
        font-size: 9pt;
        & a {
            color: #fff;
            border-left: solid 1px rgba(255,255,255,.15);
            padding: 0 10px;
            display: inline-block;
            
            &:last-child{
                border-right: solid 1px rgba(255,255,255,.15);
            }
        }

        & .s-lang {
            margin-top: 6px;
            margin-left: 0;
            
            & select {
                font-size: 10pt;
                padding: 10px;
            }
        }
    }
}

