.librarian {
    border: solid 1px #e0e0e0;
	width: 33%;
    position: relative;
    margin: 0 0 20px 0;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    font-family: @font-header;
    font-size: 11pt;
    line-height: 1.4;
    text-align: center;
    transition: all .25s ease;
    overflow: hidden;
        
    &:hover {
        box-shadow: 0 0 10px #ddd;
        border-color: @color-blue;
    }
    
    & img {
        width: 100px;
        border-radius: 50%;
        margin:0 auto;
        text-align: center;
    }

    & .librarian-image {
        border: solid 4px #fff;
        background-color: #ddd;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }

    & .librarian-social {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 8pt;        
        & li {
            line-height: 2;
            font-style: italic;
        }
    }
    
    & .key {
        color: #666;
        font-size: 10pt;
        padding-top: 15px;
    }
}