/* Login
 ========================================== */
.s-login {
    background: transparent url(img/bg.png);
    min-height: 100%;
    
    & .heading1 {
        color: @color-text;
        line-height: 3;
        font-size: 11pt;
    }        
    
    #recaptcha_response_field,
    & input[type=text],
    & input[type=password] {
        border-radius: 5px;
        font-size: 12pt;
        padding: 5px;
        border: solid 1px #ddd !important;
        transition: all .25s ease;
    
        &:focus {
            border: solid 2px #bbb;
            outline: none;
        }

    }
        
    & input[type=text]:before {
        content: '\c00';
        font-family: 'Fontawesome';
    }
    
    :after {
        content: '';
        margin: 0;
        padding: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #eee;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

#loginForm {
    padding: 50px 0 0 0;
    position: relative;
    top: 100px;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    border-bottom: solid 10px #333;
    
    & .loginButton,
    & .homeButton {
        position: absolute;
        bottom: 0;
        width: 50%;
        border: none;
        background: #fff;
        padding: 20px 0;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        transition: background .25s ease;
        border-top: solid 1px #ddd;
        
        &:hover {
            color: #fff;
            background: #333;
        }
    }

    & .loginButton {
        left: 0;
    }

    & .homeButton {
        border-left: solid 1px #ddd;
        right: 0;
    }
    
    &:after {
        content: '';
        background: #000 url(@footer-images) left top fixed;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        animation: kenburns 20s infinite;
    }

}


#recaptcha_response_field {
    width: 200px !important;
}

@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0.5;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}