.value input,
.login_input input {
    border: solid 1px #ddd;
    padding: 6px 8px;
    font-size: 10pt;
    border-radius: 3px;
    width: 50%;
}

.fieldLabel {
    font-family: @font-header, sans-serif;
    line-height: 2;
}

.loginInfo {
    padding-bottom: 10px;   
}

.memberDetail {
    width: 100%;
    margin:0 0 20px 0;
    padding: 0;
    border: none;
    border-radius: 5px;

    & td {
        &.alterCell, &.alterCell2 {
            padding: 3px 0;
            border-bottom: dotted 1px #e0e0e0;
            background: none;
        }        
        
    }   
}

.memberLoanList,
#memberLoginInfo  {
    text-align: left;
    border: none;
    background-color: transparent;
    margin: 0 0 20px 0;
    
    & td {
        text-align: left;
        padding: 0;
        background-color: transparent !important;
    }
}

.memberLoanListInfo, 
.memberDetailInfo, 
.memberBasketInfo {
    padding: 0;   
}

#memberLogout,
.btn-default,
.s-xml-detail,
.s-article .openPopUp,
.xmlResultLink,
.jsonResultLink {
    font-size: 10pt;
    transition: all 0.25s ease;
    color: #333;
    display: inline;
    padding: 0;
    margin-right: 20px;
    color: @color-text;
}

.s-page h3,
.tagline {
    font-size: 12pt;
    font-family: @font-header;
    margin-bottom: 20px;
}

#memberLogout,
#loginButton,
.memberButton {
    cursor: pointer;
    border: none;
    background: @color-blue;
    color: @color-white;
    padding: 6px 8px;
    font-family: @font-header;
    border-radius: 3px;
    margin-top: 10px;
}