/* Navigtaion
 ========================================== */
.s-nav {
    background-color: @color-white;
    font-family: @font-header, sans-serif;
    box-shadow: 0 10px 20px #ddd;
    border-top: solid 1px @color-base;
    line-height: 30px;

    & a {
        color: @color-text;
        font-size: 10pt;
    }    

    & .s-navbar {
        padding: 0;
        margin: 0;        

        & li {
            list-style: none;
            display: inline-block;
            padding: 15px 0;

            & > a {
                padding: 0 20px 0 0;
                margin: 0;
                color: @color-text;
                transition: all 0.1s ease;
                
                &.active, &:hover, &:active {
                    color: #fc0;
                }
            }

        }
        
    }
}

.s-blur {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
}
