.biblioPaging {
    font-family: @font-header;
    font-size: 10pt;
    width:100%;
    
    & a {
        padding: 10px 5px;
        color: #999;
    
        &:hover {
            color: #000;
            
        }

    }
    
    @media (max-width: 960px) {
        & {
            padding: 10px 15px;
        }
    }
                
    & b {
        color: #000;
        padding: 10px 15px;
    }

    & .first_link,
    & .last_link {
        cursor: pointer;
    
        & > input:hover,
        & .first_link:hover,
        & .last_link:hover {
            color: #000;
        }    
    }
}



