.s-panel {
    position: relative;
    padding: 30px 50px;
    border: none;
    margin-top: 20px;
        
    & h1.uk-panel-title {
        font-size: 18pt;
        line-height: 3;
    }

    & .s-cover {
        width: 125px;
        position: relative;
        margin:0 auto;
    }
    
    & .s-cover-thumb {
        width: 65px;
    }


@media (min-width: 960px) {

    & .s-cover-thumb {
        margin-right: 20px;
    }


    &-yellow:after,
    &-blue:after,
    &-red:after {
        content: '';
        width: 35px;
        height: 105px;
        position: absolute;
        left: -18px;
        top: 35px;
    }
        
    &-yellow:after {
        background: @color-yellow;
    }
    
    &-blue:after {
        background: @color-blue;
    }
    
    &-red:after {
        background: @color-red;
    }
}


}


