.s-search {
    margin-top: 12px;
    display: block;
    text-align: right;

    & a {
        color: #fff !important;
        padding: 10px 8px;        
    }

    & a,
    & input.form-control {
        font-family: 'Montserrat', sans-serif;
        border-radius: 3px;
        font-size: 10pt;
        padding: 10px 8px;        
    } 
    
    & button {
        font-family: 'Montserrat', sans-serif;
        padding: 10px 8px;        
        font-size: 10pt;
    }
}

#advance-search {
    width: 600px;

    & table {
        & td {
            padding: 5px; 

            &:first-child,
            &:nth-child(4){
                font-size: 10pt;
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }
    
    & input,
    & select {
        width: 100%;
        border: solid 1px #ddd;
        border-radius: 3px;
        padding: 4px 8px;
    }
    
    & button {
        padding: 10px 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 10pt;
        border: solid 1px @color-text;
        background: @color-text;
        color: @color-white;
        border-radius: 5px;
    }
}


