.s-slider {
    position: relative;
    height: 300px;
    overflow: hidden;
    z-index: 0;

    & img {
        width: 100%;
        animation: kenburns 75s infinite;
    }

    & .uk-slidenav-position {
        padding: 0 50px;
    }

    &-title {
        position: absolute;
        top: 100px;
        left: 50px;                
        line-height: 50px;
        
        & h1 {
            font-weight: 400;
            color: #666;
        }
    }
}

@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}

.s-feature {
    z-index: 999;
    background: @color-white;
    position: relative;
    width: 100%;
    vertical-align: bottom;
    margin-bottom: 35px;

    & a {
        margin-top: -35px;
        margin-bottom: 15px;
        display: block;
        overflow: hidden;
    }

    .s-book-title {
        display: block;
        color: #333;
        font-size: 10pt;
        position: relative;
        text-overflow: ellipsis;   
        white-space: nowrap;
        overflow: hidden;
        padding-left: 10px;
        margin: 10px 0 0;
        height: 35px;
        border-left: solid 1px #bbb;

        & > div {
            font-size: 7pt;
            line-height: 14px;
        }
    }

    .s-book-cover {
        width: 75px;
        height: 100px;
        overflow: hidden;
        display: block;
        border-radius: 5px; 
        position: relative;
        box-shadow: 0 0 10px #333;

        &:before {
            box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
            content: '';
            width: 5px;
            height: 100%;
            position: absolute;
            bottom:1px;
            z-index: 1;
            background: rgba(100,100,100,0.1);
        }

    }

    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

}