.share-buttons {
    position: relative;
    top: -10px;
    list-style: none;
    margin: 0;
    width: 200px;

    .s-detail & {
        position: relative;
        top: 10px;
        padding: 0;
    }

    @media (max-width: 360px) {
        & {
            width: 185px;
            margin: 0 auto;
        }
    }

}


.share-buttons li {
    float: left;
    padding-right: 4px;
}

.share-buttons li img {
    border-radius: 10px;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
    transition: filter 0.25s ease-in-out;
    opacity: 0.3;
}

.share-buttons li img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);    
}

.share-buttons li:first-child {
    display: none;
}