/* Header
 ========================================== */
.s-main-page {
    background: @color-base;
    color: @color-text;
}

/* Simply Search
 ========================================== */
.s-search-simple {
    & a:hover {
        color: #fc0;
    }
    
    & > a.is-active {
        color: @color-white;
    }
}
