// Path
// --------------------------------------------------
@images         : 'img';
@css            : 'css';
@plugins        : 'plugins';
@less           : 'less';


// Header
// --------------------------------------------------
@header-images  : '@{images}/header.jpg';
@footer-images  : '@{images}/footer.jpg';
@header-logo    : '@{images}/logo.png';
@bg             : '@{images}/bg.png';

// Color
// --------------------------------------------------
@color-base     : #f1f1f1;
@color-text     : #666;
@color-white    : #fff;
@color-black    : #000;
@color-red      : #f00;
@color-yellow   : #F0AD4E;
@color-blue     : #5BC0DE;


// Direction
// --------------------------------------------------
@layout-direction : ltr;

// Font
// --------------------------------------------------
@font-size          : 10pt;
@font-size-medium   : 9pt;
@font-linespace     : 1.8;
@font-header        : 'Montserrat', sans-serif;
@font-general       : 'Open Sans', monospace;