.s-counter {
    background: #eee;    
    overflow: hidden; 
    
    & header {
        background: transparent;
    }
}

.s-visitor {
    margin-top: 100px;

    &-info,
    &-form {
        box-shadow: 0 0 10px #ddd;
        height: 400px;
        padding: 30px;
        margin-left: -1px;
        background: @color-white;   
    }

    &-info {
        padding-top: 100px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        background: #101885;
        color: #fff;

        &:after {
            z-index: 0;
            content: '';
            width: 200%;
            height: 100%;
            background: #ff0 url(img/slider.jpg) center center no-repeat;            
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.15;
        }

        & .info {
            margin-top: 50px;
        }

    }
 
    &-photo {
        background-color: #C9C9C9;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50px;
        position: relative;
        z-index: 1;
    }
    
    & label {
        color: @color-blue;   
    }
    
    &-form {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        & #visitorCounterForm {
            position: relative;
            top: 100px;
        }

        & input[type=text] {
            padding: 10px 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 1px #ddd;
            border-radius:0;
        }
        
        & button {
            width: 100px;
            border: solid 2px @color-blue;
            background-color: transparent;
            padding: 6px 0;
            border-radius: 50px;
        }
    }
    
}
